
nav {
    width: 100vw;
    height: 80px;
    background-color: #ffd32a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

nav .logo {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

nav .search-bar {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    border-radius: 30px;
}

nav .search-bar input {
    background-color: #fff;
    width: 400px;
    padding: 0 30px;
    font-size: 16px;
    height: 44px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    outline: none;
}

nav .search-bar button {
    height: 44px;
    /* width: 70px; */
    border: none;
    background-color: orange;
    /* border: 1px solid red; */
    color: white;
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    cursor: pointer;
    padding: 0 30px;
}

nav .search-bar button .fa-solid {
    font-size: 24px;
}