
nav {
    width: 100vw;
    height: 80px;
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav .logo {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

nav form {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    border-radius: 10px;
}

nav form input {
    background-color: #fff;
    width: 400px;
    padding: 0 30px;
    font-size: 16px;
    height: 44px;
    border-radius: 10px;
    border: none;
    outline: none;
}

nav form input:focus {
    box-shadow: 0 0 4px gray;
}

.card-error {
    text-align: center;
    width: 100vw;
    height: auto;
    font-size: 40px;
    font-weight: bold;
    color: red;
    padding: 10px 0;
}